   {{.Title | title}}
   
   {{.Deck.Name | style "indigo"}}

   {{"Front" | style (yesno (.Form.Error "question") "red" "white")}}
   {{.Form.View "question"}}

   {{"Back" | style (yesno (.Form.Error "answer") "red" "white")}}
   {{.Form.View "answer"}}
   
   
{{with $text := help .Width "tab, shift+tab, ↑/↓: field" "enter: confirm" "esc: cancel" | style "gray"}}{{$text}}{{end}}