   {{"Deck" | title}}

   {{.Deck.Name | style "indigo"}}
   {{printf "%d card%s | %d due" .Deck.Total (pluralize .Deck.Total "s") (len .Deck.DueCards) | style "gray"}}
   {{if eq .Deck.Total 0}}
   {{"Your currently have not cards. Press 'a' to create one." | style "white"}}
   {{else}}{{range $i, $_ := .Page.Items .Cards}}{{$focus := $.Page.HasFocus $i}}
{{if $focus}}{{" │ " | style "fuchsia"}}{{else}}   {{end}}{{printf "• %s" .Question | truncate $.Width | style (yesno $focus "fuchsia" "white")}}
{{if $focus}}{{" │ " | style "fuchsia"}}{{else}}   {{end}}{{printf "Last review %s" (.ReviewedAt | naturaltime ) | style (yesno $focus "darkfuchsia" "lightgray")}}{{if .Due $.Clock.Now}}{{printf " • due" | style (yesno $focus "red" "darkred")}}{{end}}
   {{end}}{{end}}
   
   {{.Page.Paginator}}
   
{{with $text := help .Width "a: add" (yesno (gt .Deck.Total 1) "j/k, ↑/↓: choose" "") (yesno .Page.Paginator "h/l ←/→: page" "") (yesno .Deck.DueCards "s: study" "") (yesno .Deck.Total "e: edit" "") (yesno .Deck.Total "x: delete" "") "esc: close" "q: quit" | style "gray"}}{{$text}}{{end}}