   {{"Decks" | title}}
   {{if not (hasDecks .Decks)}}
   {{"No deck files found. Press 'a' to create one." | style "white"}}
   {{else}}
   {{printf "%d deck%s" (len .Decks) (pluralize (len .Decks) "s") | style "gray"}}
   {{range $i, $_ := .Page.Items .Decks}}{{$focus := $.Page.HasFocus $i}}
{{if $focus}}{{" │ " | style "fuchsia"}}{{else}}   {{end}}{{printf "• %s" .Name | style (yesno $focus "fuchsia" "white")}}
{{if $focus}}{{" │ " | style "fuchsia"}}{{else}}   {{end}}{{printf "%d card%s | %d due" .Total (pluralize .Total "s") (len .DueCards) | style (yesno $focus "darkfuchsia" "lightgray")}}
   {{end}}{{end}}

   {{.Page.Paginator}}
   
{{with $text := help .Width "a: add" (yesno (gt (len .Decks) 1) "j/k, ↑/↓: choose" "") (yesno .Page.Paginator "h/l ←/→: page" "") (yesno (hasDecks .Decks) "enter: select" "")  (yesno (hasDueCards .Page.Item .Decks) "s: study" "") (yesno (hasDecks .Decks) "r: rename" "") (yesno (hasDecks .Decks) "x: delete" "") "q: quit" | style "gray"}}{{$text}}{{end}}