   {{"Decks" | title}}
   
   {{"Delete this deck?" | style "red" }}
   {{range $i, $_ := .Page.Items .Decks}}{{$focus := $.Page.HasFocus $i}}
{{if $focus}}{{" │ " | style "red"}}{{else}}   {{end}}{{printf "• %s" .Name | style (yesno $focus "red" "white")}}
{{if $focus}}{{" │ " | style "red"}}{{else}}   {{end}}{{printf "%d card%s | %d due" .Total (pluralize .Total "s") (len .DueCards) | style (yesno $focus "darkred" "lightgray")}}
   {{end}}
   
   {{.Page.Paginator}}
   
{{with $text := help .Width "enter: delete" "esc: cancel" "q: quit" | style "gray"}}{{$text}}{{end}}