   {{"Question"| title}} 
   {{with .Review}}
   {{.Deck.Name | style "indigo"}}
   {{printf "%d of %d" .Current .Total | style "gray"}}
   
{{.CurrentCard.Question | wrap $.Width | blockquote | style "fuchsia"}}
   {{end}}
{{with $text := help .Width (yesno (gt .Review.Total 1) "s: skip" "") "enter: answer" "esc: close" "q: quit" | style "gray"}}{{$text}}{{end}}